@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
    margin: 0;
    padding: 0;
    --primary-color: #94c595;
    --secondary-color: #3a2449;
    --accent1-color: #94c595;
    --accent2-color: #747c92;
    --extra-color: #a1e8af;

    
}

.logo {

    width: 35%;
    height: auto;
    
}

body nav a {
    font-size: xx-large;
}


body {
    max-width: 960px;
    padding-left: 25%;
}

.background-image {
    width: 100%;
    opacity: 1;
    max-height: 500px;
    
}


/*
article p {
    position: absolute;
    top: 0;
}
*/
/*
p {
    padding: 1px;
    font-family: Roboto;
    font-size: large;
    color: rgb(6, 5, 6);
    position: relative;
    top: 0;
    font-weight: bold;

}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
}


.hero section p {
    font-size: 30px;
    text-align: left;
}


.hero h1 {
    font-size: 40px;
    top: 60px;
    text-align: center;
    font-family: var(--secondary-color);
    position: absolute;
    background-color: black;
    width: 100%;
    top: 7%;
    opacity: 0.8;

}

.hero h2 {
    font-size: 30px;
    color: var(--);
}

.hero article {
    position: absolute;
    text-align: center;
    font-size: 34px;
    /* text-align: justify; */
    width: 920px;
    height: 150px;
    top: 1%;
    background-color: var(--primary-color);
    opacity: 0.9;
    padding: 20px ;

}

.hero article p {
    text-align: left;
    color:var(--secondary-color);
    
    
}

.hero article img {
    
    float: right;
    top: 15px;
    width: 210px;

}

.hero section img {
    width: 960px;
    max-height: auto;
    
}

.hero section {
    font-size: 150%;
    text-align: center;
    color: var(--secondary-color);
}

.sociallinks {
    text-decoration: none;
}


footer {
    position: absolute;
    font-size: 239%;
    color: black;
   
}