@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {

    --primary-color: #1e8cb0;
    --secondary-color: #2E282A;
    --accent1-color: #142f48;
    --accent2-color: #e953da;
    --extra-color: #f5c1f0;

    --heading-font: Georgia, serif;
    --paragraph-font: Underdog;

    --nav-background-color: #4c44cf;
    --nav-link-color: #f5c1f0;
    --nav-hover-link-color: #17BEBB;
    --nav-hover-background-color: #17BEBB;
}


header {
    padding: 20px;
    color: var(--accent1-color);
    font-size: 20px;
    background-color: var(--primary-color);

}

body {
    font-family: var(--paragraph-font);
    background-color: var(--nav-link-color);
    max-width: 960px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto
}

h1,
h2,
h3,
h4 {
    color-scheme: var(--accent2-color);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


h2 {
    font-family: Arial, sans-serif;

}

h3,
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.smallerh3 {
    font-size: smaller;
    font-family: Roboto;
}


p {
    padding: 25px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: var(--secondary-color);
    font-size: 18px;
}


.toplogo {
    position: absolute;
    display: block;
    margin: 25px;

}

img {
    display: block;
    margin: 0 auto;

}

nav {
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 1rem;

}

nav a:link {
    color: var(--nav-hover-background-color);
}


nav a:visited {
    color: var(--nav-hover-link-color);
}


nav a:hover {
    color: #000;
    background-color: var(--nav-hover-background-color);
}


footer {
    margin: 0 auto;
}