* {
  
  padding: 0;  
}


header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
  text-align: center;
}


nav {
  background-color: steelblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}


nav a {
  color: white;
  display: block;
  padding: 20px;
  font-size: 24px;
  text-decoration: none;
}

h1 {
  color: steelblue;
  font-size: 33px;
  border-bottom: 2px solid black;
}


main {
  
  background-color: gainsboro;
  font-size: x-large;

}

aside {
  
  position: relative;
  font-size: 20px;
  width: 20rem;
  grid-column: 1/2;
  grid-row: 1/2;

}

aside h2 {
  top: 6%;
  left: 10%;
  position: absolute;
  color: black;
  text-shadow: 5px 5px 10px #FF7F50;
  

}

aside img {
  width: 300px;
  height: auto;
  box-shadow: 0 0 30px gray;

}

main img {
  width: 190px;
  height: auto;
  border: 1px solid steelblue;
  padding: 1px;
  box-shadow: 0 0 30px gray;
  position: relative;
  float: right;

}


main p:hover {
  
  color: rgb(128, 19, 124);
  
}

a:hover {
  color: black;
  text-decoration: none;
 
}


/* Class Selectors */

.box {

  margin: 1px;
  border: 2px solid #FF7F50;
  padding: 1rem;
  background-color: #FFA07A;
  color: #FFFFFF; 
  
  
}

.indent {
  padding-left: 5rem;
  font-size: x-large;
  height: 70px;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
  
}

