.callout {
	border: 1px solid #64e062;
	width: 300px;
	margin: 1px;
	padding: 50px;
	background-color: rgb(196, 241, 149);
  }
  
  .callout img {
	max-width: 100%;
	height: auto;
  }
  
  blockquote {
	border-left: 3px solid #ccc;
	margin: 0;
	padding: 0 10px;
  }
  
  cite {
	font-style: italic;
  }
  