* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

nav {
  background-color: steelblue;
  display: flex;

}


nav a {
  color: white;
  /*display: block;*/
  padding: 20px;
  font-size: 24px;
  text-decoration: none;
}

h1 {
  color: steelblue;
  font-size: 33px;
}



main {
  max-width: 840px;
  background-color: gainsboro;
  font-size: x-large;

}

aside {
  max-width: 840px;
  position: relative;
  font-size: 20px;

}

aside h2 {
  top: 6%;
  left: 10%;
  position: absolute;
  color: black;
  text-shadow: 5px 5px 10px #FF7F50;
  

}

aside img {
  width: 300px;
  height: auto;
  box-shadow: 0 0 30px gray;

}

main img {
  width: 200px;
  height: auto;
  border: 1px solid steelblue;
  padding: 1px;
  box-shadow: 0 0 30px gray;
  position: relative;
  float: right;

}

main p {
  padding-bottom: 10rem;
  text-indent: 30px;
  text-align: justify;
  font-size: 20px;
  padding: 15px;
  width: 600px;
  height: auto;
}

main p:hover {
  background-color: rgb(225, 117, 35);
  color: rgb(128, 19, 124);
  font-weight: bolder;
}

a:hover {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

footer {
  margin-top: 3rem;
  text-align: left;
  font-size: large;
}


/* Class Selectors */

.box {

  margin: 1px;
  border: 2px solid #FF7F50;
  padding: 1rem;
  background-color: #FFA07A;
  color: #FFFFFF; 
  
  
}

.indent {
  padding-left: 3rem;
  font-size: medium;
  height: 80px;
}