main {
  max-width: 840px;
}

aside {
  aside {
    width: 300px; 
    margin: 20px; 
    border: 2px solid #FF7F50; 
    padding: 10px; 
    background-color: #FFA07A; 
    color: #FFFFFF; 
  }
}

aside img {
width: 200px;
height: auto;

}

p { padding: 0;}

footer {
  margin-top: 3em;
  border-top: 1px solid #000;
  text-align: center;
}

nav {
    background-color: steelblue;
    padding: 10px;
    }

nav a {
    color: white;
    display: block;
    padding: 20px;
}

  h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

  P {
    padding: 10px;
}
  